.reserve-taxi-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

google-map {
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin: 10px 0;
}

button {
  margin-top: 20px;
}
