<div class="dashboard-container">
    <!-- Navigation Bar -->
    <nav class="dashboard-nav">
        <button mat-button routerLink="status-toggle">Status</button>
        <button mat-button routerLink="booking-requests">Booking Requests</button>
        <button mat-button routerLink="current-trip">Current Trip</button>
        <button mat-button routerLink="trip-history">Trip History</button>
        <button mat-button routerLink="settings">Settings</button>
        <button mat-button class="logout-button">Logout</button>
    </nav>

    <router-outlet></router-outlet>

</div>