
<div class="dashboard-container">
    <!-- Navigation Bar -->
    <nav class="dashboard-nav">
        <button mat-button routerLink="dashboard">Dashboard</button>
        <button mat-button routerLink="reserve-taxi">Reserve Taxi</button>
        <button mat-button routerLink="available-drivers">Available Drivers</button>
        <button mat-button routerLink="booking-history">Booking History</button>
        <button mat-button routerLink="settings">Settings</button>
    </nav>

    <router-outlet></router-outlet>
    
</div>